**/Server/node_modules
**/Server/.env
**/Server/package-lock.json
**/Server/database.db
**/Server/database.sqlite
**/Client/booking-site/.env
**/Client/booking-site/.gitignore
**/Client/booking-site/package-lock.json
**/Client/booking-site/node_modules
